.ant-card-head {
  background: #d3d3d3 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #b3b3b3;
  font-size: 17px;
  font-weight: bold;
}

.submit1,
.submit2 {
  margin-left: 35%;
}

.ant-btn-primary {
  background-color: #c64752 !important;
  border-color: #c64752 !important;
}

.radio {
  position: absolute !important;
  margin-left: 85px !important;
  margin-top: 6px;
}
@media (max-width: 1200px) {
  .ant-radio-group {
    width: 600px;
  }
}

@media (max-width: 900px) {
  .ant-radio-group {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .ant-radio-group {
    width: 100px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    height: 200px;
  }
}






/* New page CSS */
.main-div {
  justify-content: center;
  margin: 2% 2% 2% 2%;
}
h6 {
  font-family: "Roboto slab", sans-serif;
}
img {
  min-width: 200px;
}
.child-div-1 {
  margin-left: 7%;
  flex: 3;
}
.child-div-2 {
  margin-right: 6%;
  flex: 1;
}
.main-div-2{
  margin-left: 12%;
}
@media (min-width: 1001px) {
  .main-div {
    display: flex;
  }
}

@media (max-width: 1001px) {
  .child-div-2 {
    margin-left: 3%;
  }
  img {
    width: 450px;
    height: 300px;
  }
  .child-div-1 {
    margin-left: 13%;
  }
}
@media (max-width: 700px) {
  img {
    width: 350px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  img {
    width: 250px;
    height: 200px;
  }
}
