.ant-card-head {
  background: #d3d3d3 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #b3b3b3;
  font-size: 17px;
  font-weight: bold;
}

.submit1,
.submit2 {
  justify-content: center;
}

.ant-btn-primary {
  background-color: #c64752 !important;
  border-color: #c64752 !important;
}

.radio {
  position: absolute !important;
  margin-left: 85px !important;
}
@media (max-width: 1200px) {
  .ant-radio-group {
    width: 600px;
  }
}

@media (max-width: 900px) {
  .ant-radio-group {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .ant-radio-group {
    width: 100px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    height: 200px;
  }
}
