.main-div {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
  }
  .child-div1 {
    flex: 1;
  }
  .child-div2 {
    flex: 3;
  }