.child-div h3 {
  font-weight: bolder;
  font-style: inherit;
}

.col-step-1,
.col-step-2,
.col-step-3 {
  letter-spacing: 2px;
  font-weight: normal;
}

.main-div {
  /* width: 1200px; */
  margin: 40px auto 0 auto;
}
.child-div {
  padding: 20px;
  box-sizing: border-box;

  letter-spacing: 2px;
  font-weight: normal;
}

@media (min-width: 900px) {
  .main-div {
    display: flex;
    justify-content: space-between;
  }
}
